@page
@model DigitalPoliceSystem.Pages.AboutModel
@{
}
<!-- ======= About Section ======= -->
<section id="about" class="about section-bg">
    <div class="container" @*data-aos="fade-up"*@>

        <div class="section-title">
            <h2>About</h2>
            <h3>Find Out More <span>About Us</span></h3>
            <p>The division was established during the 1861 police re-organization; however, the city's policing history began before that time.</p>
        </div>

        <div class="row">
            <div class="col-lg-6" @*data-aos="fade-right" data-aos-delay="100"*@>
                <img src="https://thc-i.thgim.com/public/the-arena/current-issues/g2g9fr/article54443461.ece/alternates/FREE_810/193031696jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" @*data-aos="fade-up" data-aos-delay="100"*@>
                <h3>Commissioner of Police: Amitesh Kumar</h3>
                <p class="fst-italic">
                    SHRI AMITESH KUMAR is a Indian Police Service Officer. He is of the rank.of Additional Director General of Police and He took over the charge as Commissioner of Police, Nagpur City.
                </p>
                <ul>
                    <li>
                        @*<i class="bx bx-store-alt"></i>*@
                        <div>
                            <h5>Police Commissioner's Message</h5>
                            <p>The strength of our services lies in you. Your constant support helps us to foster relationships with our society. Our officers and staff take great pride in their work and committed to the citizens of Nagpur to build safer and healthier society.</p>
                            <br />
                            <p>The top level includes a commissioner of police (ranked Director General of police); one Joint CP (ranked Special Inspector General); Four CPs (DIG Rank); one administrator; one Crime, North Region and South Region leaders; Eight Deputy Commissioners - one for each of five zones, One for D.C.P. Economic Cell and cybercrime, one for special cases and one for traffic. The Criminal Investigation Department has one administrator.</p>
                        </div>
                    </li>
                    <li>
                        @*<i class="bx bx-images"></i>
                        <div>
                        <h5>Magnam soluta odio exercitationem reprehenderi</h5>
                        <p>Quo totam dolorum at pariatur aut distinctio dolorum laudantium illo direna pasata redi</p>
                        </div>*@
                    </li>
                </ul>
                <p>
                    <h5>Nagpur City Police - With You, By You & For You</h5>
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->