@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirmed email";
}

<h1>@ViewData["Title"]</h1><br/>
<a href="/Identity/Account/Login" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Click here to Login </a>